<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ASAPFrontDesk.My.MySettings.ConnectionString" connectionString="Provider=SQLNCLI11.1;Data Source=Harvey-Inspiron\SQLEXPRESS;Integrated Security=SSPI"
        providerName="System.Data.OleDb" />
    <add name="HarveyLocal" connectionString="Server=.\SQLEXPRESS2014;Database=ASAP;Integrated Security=false;connection timeout=30;" />
    <add name="MSAccessRun" connectionString="Provider=microsoft.Jet.oledb.4.0;Data Source=C:\CGC\Projects\TicketmationApp\WUS.mdb"/>
    <add name="MSAccess" connectionString="Provider=microsoft.Jet.oledb.4.0;Data Source=D:\CGC\TicketmationApp\TicketmationApp\WUS.mdb"/>
    <add name="MSAccessOP" connectionString="Provider=microsoft.Jet.oledb.4.0;Data Source=C:\Ticketmation\WUS.mdb"/>

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>